@import url("https://rsms.me/inter/inter.css");

.f-8 {
    font-size: 8px;
    font-family: "Inter";
}

.f-10 {
    font-size: 10px;
    font-family: "Inter";

}

.f-12 {
    font-size: 12px;
    font-family: "Inter";

}

.f-14 {
    font-size: 14px;
    font-family: "Inter";

}

.f-16 {
    font-size: 16px;
    font-family: "Inter";

}

.f-18 {
    font-size: 18px;
    font-family: "Inter";

}

.f-20 {
    font-size: 20px;
    font-family: "Inter";

}

.f-24 {
    font-size: 24px;
    font-family: "Inter";
}

.f-28 {
    font-size: 28px;
    font-family: "Inter";
}

._fw-400 {
    font-weight: 400;
    font-family: "Inter";
}

._fw-500 {
    font-weight: 500;
    font-family: "Inter";
}

._fw-600 {
    font-weight: 600;
    font-family: "Inter";
}

._fw-700 {
    font-weight: 700;
    font-family: "Inter";
}

