@use "colors" as *;
@use "font" as *;


@mixin input {
  @extend .f-12;
  @extend ._fw-400;
  width: 100%;
  height: 36px;
  border-radius: 50px !important;
  border: solid 1px $lightGray;
  background-color: $white;
  color: $black !important;

  x &::placeholder {
    color: $black !important;
  }

  &::-webkit-input-placeholder {
    color: $black !important;
  }

  &:-moz-placeholder {
    color: $black !important;
  }

  &::-moz-placeholder {
    color: $black !important;
  }

  &:-ms-input-placeholder {
    color: $black !important;
  }
}

._input,
input {
  @include input;
  padding: 0 7px;
}

input::placeholder {
  color: #888888;
  /* ← Your desired color */
  opacity: 1;
  /* Optional: Make sure it's fully visible */
}

input:focus-visible {
  outline: none !important;
}


p-inputnumber {
  .p-inputnumber {
    input {
      @include input;
    }
  }
}

._input-icon {
  @include input;
  padding: 0px 32px;  
}

.autocomplete-icon input {
  text-indent: 22px !important;
  @extend .f-12;
  @extend ._fw-400;
}

._textArea,
textarea {
  @include input;
  width: 100%;
  min-height: 150px !important;
  border-radius: 16px !important;
  line-height: 1 !important;
  padding: 5px 10px !important;
  resize: vertical !important;
  outline: none !important;
}

p-password {
  .p-inputtext {
    @include input;
    padding: 0 7px;
  }
}

// Global
.p-link {
  @extend .f-14;
  color: $black !important;
}

.p-inputgroup-addon {
  &:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.p-inputgroup {
  button {
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  input {
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}

input[type="date"],
input[type="time"] {
  -webkit-appearance: none;
  -webkit-min-logical-width: calc(100% - 16px);
}

.form-group {
  margin-bottom: 10px !important;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0 $lightGray !important;
  border-color: $lightGray !important;
}

.p-inputtext:enabled:hover {
  border-color: $lightGray !important;
}

.p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


// in-valid

.invalidField {
  border: 1px solid $danger !important;
}

.invalid-form {
  width: 100%;
  margin-top: 0.25rem;
  color: $danger !important;
  @extend .f-10;
}

.invalid-list {
  width: 100%;
  @extend .f-10;
  color: $danger !important;
  list-style-type: none;
  margin-top: 5px;
}

._input-error {
  border: 1px solid $danger !important;
  border-radius: 20px;
}

.numberInvalidField {
  .p-inputnumber {
    input {
      border: 1px solid $danger !important;
    }
  }
}


