<p class="f-16 _fw-600">{{pageTitle}}</p>

<div class="d-flex align-items-center justify-content-between my-3">
    <div class="avatar-wrap">
        <div class="avatar" (click)="fileInput.click()">
            @if (officeLogo()) {
            <img [src]="officeLogo()" class="avatar-img" alt="profile" />
            }
            @else {
            <img [src]="commonIcon.image_not_found" class="avatar-placeholder" alt="placeholder" />
            }
            <div class="avatar-overlay">
                <i class="pi pi-camera"></i>
                <span>{{ officeLogo() ? 'Change' : 'Upload' }}</span>
            </div>
        </div>
        <input #fileInput class="d-none" accept=".png,.jpg,.jpeg" type="file" name="profile" [hidden]="1"
            (change)="onSelectFile($event)" />
        @if (officeLogo()) {
        <button type="button" class="avatar-remove" (click)="officeLogo.set(null)" title="Remove photo">
            <i class="pi pi-times"></i>
        </button>
        }
        <div class="avatar-meta">
            <p class="avatar-name">Profile Photo</p>
            <p class="avatar-hint">PNG or JPG. Click image to {{ officeLogo() ? 'change' : 'upload' }}.</p>
        </div>
    </div>
    <div class="d-flex gap-2">
        <button class="_cancel-btn" (click)="resetProfile()">Cancel</button>
        <button class="_primary-btn" (click)="saveProfile()">Save</button>
    </div>
</div>

<form [formGroup]="profileForm">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" formControlName="first_name"
                    [ngClass]="{ _inputError: submitted && profileForm.controls['first_name'].invalid }">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" formControlName="last_name"
                    [ngClass]="{ _inputError: submitted && profileForm.controls['last_name'].invalid }">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="mobile_no">Mobile No</label>
                <input type="text" id="mobile_no" formControlName="mobile_no"
                    [ngClass]="{ _inputError: submitted && profileForm.controls['mobile_no'].invalid }">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="cnic_no">CNIC No</label>
                <input type="text" id="cnic_no" formControlName="cnic_no"
                    [ngClass]="{ _inputError: submitted && profileForm.controls['cnic_no'].invalid }">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" formControlName="email"
                    [ngClass]="{ _inputError: submitted && profileForm.controls['email'].invalid }">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group position-relative">
                <label for="password">Password</label>
                <input type="{{hideShowPassword ? 'text' : 'password'}}" id="password" formControlName="password"
                    [ngClass]="{ _inputError: submitted && profileForm.controls['password'].invalid }"
                    (input)="passwordCriteria()">
                <i class="pi {{hideShowPassword ? 'pi-eye' : 'pi-eye-slash'}} password-icon"
                    (click)="hideShowPassword = !hideShowPassword"></i>
                <div class="strength-bar" [ngClass]="strengthLevel.toLowerCase()"></div>
                @if(validation_error.length > 0){
                <ul class="invalid-list">
                    @for (error of validation_error; track $index) {
                    <li>{{ error }}</li>
                    }
                </ul>
                }
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group position-relative">
                <label for="officeId">Office</label>
                <ng-select formControlName="officeId" [items]="officeList" bindLabel="office" bindValue="id"
                    placeholder="Select Office"
                    [ngClass]="{ _inputError: submitted && profileForm.controls['officeId'].invalid }">
                </ng-select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group position-relative">
                <label for="roleId">Role</label>
                <ng-select formControlName="roleId" [items]="roleList" bindLabel="role" bindValue="id"
                    placeholder="Select Role"
                    [ngClass]="{ _inputError: submitted && profileForm.controls['roleId'].invalid }">
                </ng-select>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" formControlName="address">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="biography">Biography</label>
                <textarea formControlName="biography" cols="20" rows="5"></textarea>
            </div>
        </div>
    </div>
</form>
