.password-icon {
    position: absolute;
    top: 32px;
    right: 15px;
    cursor: pointer;
}

.strength-bar {
    height: 8px;
    border-radius: 8px;
    margin-top: 5px;
}

.strength-bar.weak {
    background-color: var(--danger);
    width: 33%;
    transition: linear 500ms;
}

.strength-bar.medium {
    background-color: var(--info);
    width: 66%;
    transition: linear 500ms;
}

.strength-bar.strong {
    background-color: var(--primary);
    width: 100%;
    transition: linear 500ms;
}

.password-icon {
    position: absolute;
    top: 36px;
    right: 12px;
    cursor: pointer;
    font-size: 12px;
}



.image-box {
    width: 200px;
    height: 200px;
    background-color: var(--borderColor);
    border-radius: 8px;
    border-style: dashed;
    border-color: var(--borderColor);
    position: relative;
}

.upload-icon {
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-not-found {
    width: 80px;
    position: absolute;
    top: 70px;
    left: 55px;
}

.image-exist {
    width: 150px;
    height: 120px;
    border-radius: 16px;
    position: absolute;
    top: 56px;
    left: 22px;
}