@use "colors" as *;
@use "font" as *;


@mixin input {
  @extend .f-12;
  @extend ._fw-400;
  @extend .font-family;
  width: 100%;
  height: 35px;
  border-radius: 8px !important;
  border: solid 1px $borderColor;
  color: $black !important;

  x &::placeholder {
    color: $black !important;
  }

  &::-webkit-input-placeholder {
    color: $black !important;
  }

  &:-moz-placeholder {
    color: $black !important;
  }

  &::-moz-placeholder {
    color: $black !important;
  }

  &:-ms-input-placeholder {
    color: $black !important;
  }
}

._input,
input {
  @include input;
  padding: 0 7px;
}

textarea {
  @include input;
  padding: 7px;
  min-height: 150px;
  resize: vertical;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

input::placeholder {
  color: #888888;
  opacity: 1;
}

input:focus-visible {
  outline: none !important;
}

._input-icon {
  @include input;
  padding: 0px 32px;
}


// ng select style start

ng-select {
  .ng-select-container {
    color: $black !important;
    background-color: $white !important;
    height: 35px !important;
    border-radius: 8px !important;
    border: solid 1px $borderColor !important;
    cursor: pointer !important;
    align-items: center !important;
    box-shadow: none !important;
    @extend .font-family;
    @extend .f-12;

    .ng-value-container {
      padding-left: 5px !important;
      color: $black !important;
      @extend .font-family;
      @extend .f-12;

      .ng-placeholder {
        color: $black !important;
        padding-left: 5px !important;
        @extend .font-family;
        @extend .f-12;
        position: relative;
        top: 1px;
      }

      .ng-value {
        @extend .font-family;
        @extend .f-12;
        z-index: 6;
        padding: 5px 10px 5px 5px !important;
      }

      .ng-input {
        top: 0px !important;
        left: 0 !important;
        padding-left: 10px !important;
        padding-right: 50px !important;
        opacity: 1 !important;
        cursor: pointer !important;
      }
    }

    .ng-arrow-wrapper {
      margin-top: 4px;
    }
  }

  .ng-dropdown-panel.ng-select-bottom {
    top: 100% !important;
    padding: 10px !important;
    margin-top: 0px !important;
    border-radius: 16px !important;
  }

  .ng-dropdown-panel-items {
    .ng-option.ng-option-marked {
      background: $secondary !important;
      color: $primary;
      border-radius: 16px !important;
      @extend .font-family;
      @extend .f-12;
    }
  }

  .ng-dropdown-panel {
    background-color: #fff !important;
    box-shadow: 0 0 40px #e8eaec !important;
    left: 0 !important;
    padding: 10px !important;
    border-radius: 16px !important;
    border-color: #e8eaec !important;

    .ng-dropdown-panel-items {
      .ng-option {
        border-radius: 16px !important;
        margin: 4px 0 !important;
        padding: 5px 10px !important;
        @extend .f-12;
        @extend .font-family;
      }

      .ng-option-selected {
        background-color: $secondary !important;
        color: $primary !important;
      }
    }
  }
}

// .ng-select-multiple {
//   .ng-select-container {
//     color: var(--black) !important;
//     background-color: var(--white) !important;
//     border-radius: 22px !important;
//     border: solid 1px var(--lightGray) !important;
//     // min-height: 36px !important;
//     cursor: pointer !important;
//     align-items: center !important;
//     @extend .font-family;
//     @extend .f-12;
//     // height: 35px !important;

//     .ng-value-container {
//       padding-left: 5px !important;
//       color: var(--black) !important;
//       @extend .font-family;
//       @extend .f-12;

//       .ng-placeholder {
//         top: 11px !important;
//         left: 10px !important;
//         color: var(--black) !important;
//         @extend .font-family;
//         @extend .f-12;
//         @extend ._fw-500;
//         z-index: 6 !important;
//       }

//       .ng-value {
//         margin-bottom: 5px !important;
//         color: var(--black) !important;
//         background-color: var(--secondary) !important;
//         border-radius: 16px !important;
//         margin-right: 5px !important;
//         padding: 4px 0px !important;
//         border: solid 1px var(--primary) !important;
//       }

//       .ng-value-label {
//         @extend .f-10;
//         @extend .font-family;
//         padding-right: 5px !important;
//         padding-left: 0px !important;
//       }

//       .ng-value-icon {
//         @extend .f-12;

//         &:hover {
//           background-color: transparent !important;
//         }
//       }

//       .ng-input {
//         top: 0px !important;
//         left: 0 !important;
//         padding-left: 10px !important;
//         padding-right: 50px !important;
//         opacity: 1 !important;
//         cursor: pointer !important;

//         input {
//           height: 20px !important;
//         }
//       }
//     }
//   }
// }


// Checkbox

.form-check-input {
  width: 17px;
  height: 17px;
  background-color: $white;
  border-radius: 50px !important;
  border: solid 1px #e8eaec;
  margin: 0;
}

.form-check-input[type=checkbox]:checked {
  background-color: $primary;
  border-color: $primary;
}

.form-check-input:focus {
  border-color: none;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(13, 110, 253, .25);
}

// in-valid

._inputError {
  border: 1px solid $danger !important;
  border-radius: 8px;
}

.invalid-list {
  width: 100%;
  @extend .f-10;
  @extend .font-family;
  color: $danger !important;
  list-style-type: none;
  margin-top: 5px;
  padding-left: 0;
}