@use "colors" as *;
@use "font" as *;



body {
    background-color: $bodyColor !important;
    margin: 0;
    padding: 0;
}

p {
    color: $black;
    @extend .f-12;
    @extend ._fw-500;
    @extend .font-family;
    margin: 0;
}

.body-details {
    padding: 20px;
    border-radius: 16px;
    border: solid 1px #f4f5f6;
    background-color: #fff !important;
}

._heading1 {
    color: $black;
    @extend .f-14;
    @extend ._fw-600;
    @extend .font-family;
}

._heading2 {
    color: $black;
    @extend .f-18;
    @extend ._fw-600;
    @extend .font-family;
}

._heading3 {
    color: $black;
    @extend .f-24;
    @extend ._fw-600;
    @extend .font-family;
}

._heading4 {
    color: $black;
    @extend .f-28;
    @extend ._fw-600;
    @extend .font-family;
}

._cross-icon {
    position: absolute;
    right: 0px;
    top: 8px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    @extend .f-14;
}

._search-icon {
    @extend .f-14;
    @extend ._fw-500;
    color: $searchIcon;
    position: absolute;
    left: 10px;
    top: 11px;
}

.scroll-top {
    position: fixed;
    right: 65px;
    bottom: 115px;
    z-index: 9;
    background: $primary;
    color: $white;
    @extend .f-12;
    padding: 7px;
    border-radius: 6px;
    cursor: pointer;
}

*::-webkit-scrollbar,
.p-datatable-scrollable-body::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

*::-webkit-scrollbar-track,
.p-datatable-scrollable-body::-webkit-scrollbar-track {
    background: $gray !important;
}

*::-webkit-scrollbar-thumb,
.p-datatable-scrollable-body::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
    border-radius: 20px !important;
    border: 0px !important;
}