@use "../../../../../public/assets/scss/colors" as *;
@use "../../../../../public/assets/scss/font" as *;

.password-icon {
    position: absolute;
    top: 32px;
    right: 15px;
    cursor: pointer;
}

.strength-bar {
    height: 8px;
    border-radius: 8px;
    margin-top: 5px;
}

.strength-bar.weak {
    background-color: $danger;
    width: 33%;
    transition: linear 500ms;
}

.strength-bar.medium {
    background-color: $info;
    width: 66%;
    transition: linear 500ms;
}

.strength-bar.strong {
    background-color: $primary;
    width: 100%;
    transition: linear 500ms;
}